html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.header {
    background-color: #f8f9fa;
    padding-top: 9.5rem;
    padding-bottom: 5rem;
}

.bounce-in-left {
    animation: bounce-in-left 2s ease;
    animation-iteration-count: 1;
}

.bounce-in-right {
    animation: bounce-in-right 2s ease;
    animation-iteration-count: 1;
}

/* Css Keyframes Taken from https://codepen.io/nelledejones/pen/gOOPWrK */
@keyframes bounce-in-left {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

/* Css Keyframes Taken from https://codepen.io/nelledejones/pen/gOOPWrK */
@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.headerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}

.navbar-toggler {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    color: #212529;
}

.resume-title {
    padding-bottom: 30px;
    padding-top: 60px;
}

.resume-title > h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.resume-title > ::after {
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.resume-sub-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}

.resume-item > h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
}

.resume-item > h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.title {
    max-width: 600px;
}

#link-group > p {
    margin: 20px;
}
