body {
    min-height: 100vh;
}

.centered {
    position: absolute;
    top: 20%;
}

.title {
    max-width: 600px;
}

.summary {
    text-indent: 40px;
    max-width: 600px;
}

#link-group > p {
    margin: 20px;
}